/**
 *	1. GENERAL
 *		Setting some things up there, after normalize has had it's chance to take effect
 */
body 
{
    position: relative;
    z-index: 0;
	background-color: #e4eceb;
}

footer{
	text-align: center;
}


/**
 * 2. GADGETS
 *		Defining some gadget styles, such as the loader, lyte, lytebox, etc.
 */

/* Loader */
.mmod-loader{
    float: right !important;
}
.mmod-loader .bubblingG {
  text-align: center;
  width: 51px;
  height: 32px;
}
.mmod-loader .bubblingG span {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  margin: 16px auto;
  background: #4D91FE;
  -moz-border-radius: 32px;
  -moz-animation: bubblingG 0.8s infinite alternate;
  -webkit-border-radius: 32px;
  -webkit-animation: bubblingG 0.8s infinite alternate;
  -ms-border-radius: 32px;
  -ms-animation: bubblingG 0.8s infinite alternate;
  -o-border-radius: 32px;
  -o-animation: bubblingG 0.8s infinite alternate;
  border-radius: 32px;
  animation: bubblingG 1.2s infinite alternate;
}
.mmod-loader .bubblingG span.bubblingG_1 {
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
.mmod-loader .bubblingG span.bubblingG_2 {
  -moz-animation-delay: 0.24s;
  -webkit-animation-delay: 0.24s;
  -ms-animation-delay: 0.24s;
  -o-animation-delay: 0.24s;
  animation-delay: 0.24s;
}
.mmod-loader .bubblingG span.bubblingG_3 {
  -moz-animation-delay: 0.48s;
  -webkit-animation-delay: 0.48s;
  -ms-animation-delay: 0.48s;
  -o-animation-delay: 0.48s;
  animation-delay: 0.48s;
}
@-moz-keyframes bubblingG {
  0% {
    width: 6px;
    height: 6px;
    background-color: #4D91FE;
    -moz-transform: translateY(0);
  }
  100% {
    width: 15px;
    height: 15px;
    background-color: #7676BA;
    -moz-transform: translateY(-13px);
  }
}
@-webkit-keyframes bubblingG {
  0% {
    width: 6px;
    height: 6px;
    background-color: #4D91FE;
    -webkit-transform: translateY(0);
  }
  100% {
    width: 15px;
    height: 15px;
    background-color: #7676BA;
    -webkit-transform: translateY(-13px);
  }
}
@-o-keyframes bubblingG {
  0% {
    width: 6px;
    height: 6px;
    background-color: #4D91FE;
    -o-transform: translateY(0);
  }
  100% {
    width: 15px;
    height: 15px;
    background-color: #7676BA;
    -o-transform: translateY(-13px);
  }
}
@-ms-keyframes bubblingG {
  0% {
    width: 6px;
    height: 6px;
    background-color: #4D91FE;
    -ms-transform: translateY(0);
  }
  100% {
    width: 15px;
    height: 15px;
    background-color: #7676BA;
    -ms-transform: translateY(-13px);
  }
}
@keyframes bubblingG {
  0% {
    width: 6px;
    height: 6px;
    background-color: #4D91FE;
    transform: translateY(0);
  }
  100% {
    width: 15px;
    height: 15px;
    background-color: #7676BA;
    transform: translateY(-13px);
  }
}

/* Lyte - Lytebox */
.panel.lyte
{
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    background: #000000;
    z-index: 999999720 !important;
}
.lytebox {
  display: none;
  margin: 0;
  padding: 5px;
  overflow: hidden;
  position: fixed;
  z-index: 999999721 !important;
  background: #ffffff;
  border-radius: 5px;
  border: 3px solid #202020;
}
.lytebox .header-block {
  margin: 0;
  padding: 5px 0 10px 0;
  position: fixed;
  z-index: 999999721;
  background: #ffffff;
  border-radius: 5px 5px 0 0;
  border: 3px solid #202020;
  border-bottom: none;
  font-weight: bolder;
  cursor: move;
  overflow: hidden;
}
.lytebox .header-block a.title {
  margin-left: 6px;
  float: left;
  cursor: move;
  text-decoration: none !important;
}
.lytebox .header-block a.btn.close {
  float: right;
  margin-right: 6px;
  cursor: pointer;
  text-decoration: none !important;
}
.lytebox .content-block {
  display: none;
  margin: 0 auto;
  padding: 0;
  height: auto;
  width: auto;
  background: #ffffff;
  border-radius: 5px;
  z-index: 999999722;
}
.lytebox .iframe-block {
  margin: 0;
  padding: 0;
  width: 800px;
  height: 600px;
}

/**
 *	3. LAYOUT
 *		Defining some layout styles, blocks (similar to a grid), panels (extends blocks), etc
 */
.container{
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.block{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.block .jumbotron {
	background: #eee url( '/images/mmod-pallet.png' ) no-repeat;
	background-size: contain;
	background-position: 30% 0px;
}

.block .jumbotron p {
    font-size: 14px;
}

.block.app-main{
	margin: 0; 
	padding: 0;
	display: block;
	position: fixed;
	left: 0.5%;
	top: 60px;
	right: 0.5%;
	bottom: 0;
	/*border: 1px solid #eee;*/ 
	border-radius: 3px;
	background-color: transparent;
}

.panel {
    margin: 0;
    display: block;
    position: relative;
    background-color: #fff;
	border-radius: 0 !important;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.panel.soft-left{
    border-right: solid 2px #e4eceb;
}

.panel.soft-right{
	border-left: solid 2px #e4eceb;
}

.panel p {
    margin: 0;
    padding: 5px 0;
    display: block;
    position: relative;
    width: auto;
    min-width: 1px;
    height: auto;
    min-height: 1px;
    clear: both;
}

/* The bar across the top of each page with the menu */
.panel.site-navigation
{
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 48px;
	height: auto;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999999;
	background-color: #262626;
}

.panel.site-navigation .navbar
{
	margin: 0 auto;
	padding: 0;
	display: block;
	width: 90%;
	height: auto;
	position: relative;
}

.panel.site-navigation .segment
{
	margin: 0;
	padding: 0;
	width: auto;
	min-height: 48px;
	height: auto;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

.panel.site-navigation .segment ul.menu-list
{
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	list-style-type: none;
}

ul.menu-list li
{
	margin: 0px 5px;
	padding: 0;
	width: auto;
	height: auto;
	float: left;
}

ul.menu-list li a.button, ul.menu-list li button
{
	margin: 0;
	padding: 0px 5px;
	width: auto;
	height: auto;
	min-height: 32px;
	display: block;
	vertical-align: middle;
	line-height: 48px;
}

ul.menu-list li a.button .icon, ul.menu-list li button .icon
{
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	display: inline-block;
}

ul.menu-list li a.button .button-text, ul.menu-list li button .button-text
{
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	display: inline-block;
}

.panel.vestibule-login{
	margin: 0 auto; 
	padding: 0;
	width: 480px; 
	height: auto;
	display: block;
	/*border: 1px solid #eee;*/ 
	border-radius: 3px;
	box-shadow: none;
	/*box-shadow: #aaa 0 0 8px 2px;*/
	overflow: hidden;
}

.icon-mmod{
	margin: 8px 8px;
	padding: 0;
	width: 256px;
	height: 32px;
	display: block;
	background: transparent url( '/images/mmod-brand-fin-256x32.png' ) no-repeat; 
	background-size: contain;
}

.form-group{
	overflow: hidden;
}


/**
 *  4. CONTROLS
 *		Defines our standard controls
 */

/* Buttons! - Overridding bootstrap*/
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}
.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary .badge {
  color: #428bca;
  background-color: #fff;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #47a447;
  border-color: #398439;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #39b3d7;
  border-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ed9c28;
  border-color: #d58512;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #d2322d;
  border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}
.btn-link {
  font-weight: normal;
  color: #428bca;
  cursor: pointer;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #2a6496;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #999;
  text-decoration: none;
}

/**
 *	5. TOOLS
 *		Defines some tools/utilties we can use for granular manipulation of elements
 */

/* Allow element to become fluid */
.fluid
{
	width: auto;
	height: auto;
}

/* Allow the element to center contents */
.centered{
	margin: 0 auto;
}

/* Allow the text to remain on a single line even if there are spaces */
.straight-label{
	white-space: nowrap;
}

/* A column */
.column{
	display: inline-block;
}

/* */

/* Grid System */
.g-1, .g-2, .g-3, .g-4, .g-5, .g-6, .g-7, .g-8, .g-9, .g-10, .g-11, .g-12{
	float: left;
}
.g-1
{
	width: 8.33333333%;
}
.g-2
{
	width: 16.66666667%;
}
.g-3
{
	width: 25%;
}
.g-4
{
	width: 33.33333333%;
}
.g-5
{
	width: 41.66666667%;
}
.g-6
{
	width: 50%;
}
.g-7
{
	width: 58.33333333%;
}
.g-8
{
	width: 66.66666667%;
}
.g-9
{
	width: 75%;
}
.g-10
{
	width: 83.33333333%;
}
.g-11
{
	width: 91.66666667%;
}
.g-12
{
	width: 100%;
}
.ol-1
{
	margin-left: 8.33333333%;
}
.ol-2
{
	margin-left: 16.66666667%;
}
.ol-3
{
	margin-left: 25%;
}
.ol-4
{
	margin-left: 33.33333333%;
}
.ol-5
{
	margin-left: 41.66666667%;
}
.ol-6
{
	margin-left: 50%;
}
.ol-7
{
	margin-left: 58.33333333%;
}
.ol-8
{
	margin-left: 66.66666667%;
}
.ol-9
{
	margin-left: 75%;
}
.ol-10
{
	margin-left: 83.33333333%;
}
.ol-11
{
	margin-left: 91.66666667%;
}
.ol-12
{
	margin-left: 100%;
}
.or-1
{
	margin-right: 8.33333333%;
}
.or-2
{
	margin-right: 16.66666667%;
}
.or-3
{
	margin-right: 25%;
}
.or-4
{
	margin-right: 33.33333333%;
}
.or-5
{
	margin-right: 41.66666667%;
}
.or-6
{
	margin-right: 50%;
}
.or-7
{
	margin-right: 58.33333333%;
}
.or-8
{
	margin-right: 66.66666667%;
}
.or-9
{
	margin-right: 75%;
}
.or-10
{
	margin-right: 83.33333333%;
}
.or-11
{
	margin-right: 91.66666667%;
}
.or-12
{
	margin-right: 100%;
}